@import "@/styles/variables.scss";

.login_page {
    width: 100%;
    height: 100%;
    background-color: #2253dc;
    background-image: linear-gradient(45deg, #2253dc 0%, #4fb8f9 99%);
    position: relative;
    z-index: 1;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../assets/admin-login-bg.jpg");
        // background-size: 100% auto;
        background-size: cover;
        background-position: center center;
        z-index: 2;
    }
    .content {
        position: absolute;
        z-index: 3;
        top: 50%;
        // margin-top: -245px;
        margin-top: -302px;
        right: 10%;
        width: 100%;
        max-width: 480px;
        .form_box {
            background-color: #81c7fa;
            border: solid 2px #3b9be5;
            padding: 10px;
            width: 100%;
            margin-bottom: 40px;
            .login_form {
                background-color: #fff;
                padding: 40px 50px 30px;
            }
            .login_title {
                font-size: 22px;
                line-height: 22px;
                color: $theme;
                margin-bottom: 30px;
                text-align: center;
            }
            .el-checkbox {
                color: #999;
            }
        }
        .title {
            text-align: center;
            font-size: 28px;
            color: #fff;
            margin-bottom: 24px;
            text-shadow: 4px 4px 4px #333;
            // letter-spacing: 2px;
            font-family: "宋体";
            span {
                line-height: 1;
            }
        }
        .bottom-text {
            width: 100%;
            max-width: 500px;
            font-size: 14px;
            color: rgba(255,255,255,0.8);
            font-weight: 400;
            line-height: 22px;
            margin: 0 auto;
            text-align: center;
        }
    }
    .tips {
        font-size: 14px;
        color: #555;
        margin-bottom: 8px;
        .tips_text {
            margin: 0 16px;
        }
    }
}
@media screen and (max-width: 500px) {
    .login_page {
        .content {
            right: 0;
        }
    }
}